/* Define custom CSS property */
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

/* specifies animation code */
/* reference: https://www.w3schools.com/cssref/css3_pr_animation-keyframes.php */
@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

:root {
    --bg-color: white;
    --border-color: blue;
}

* {
    margin: 0 auto;
}
body {
    margin: 20px auto;
    text-align: center;
}
.card {
    width: 300px;
    height: 500px;
    border: 10px solid var(--border-color);
    border-radius: 20px;
    margin: 20px auto;
    background-image: linear-gradient(var(--rotate),#5ddcff, #3c67e3 43%, #4e00c2);
    animation: spin 2.5s linear infinite;

}