* {
    box-sizing: border-box;
  }
  
  body {
    color: #303030;
    background-color: #fafafa;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3 {
    color: indigo;
    font-family: "Georgia", "Times", serif;
    font-weight: 700;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  a {
    color: darkcyan;
    text-decoration: none;
  }
  
  /** START WRITING YOUR CSS CODR FOR PAGE LAYOUT BELOW THIS COMMENT **/ 
  /* NAV BAR */
  nav {
    
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0 10px 0;
    margin: auto 10px auto 10px;
    border-bottom: 2px solid lightgray;
    z-index: 9999;
  }
  nav > a {
    margin: auto 10px auto auto;
  }
  /* HEADER */
  header, main {
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: center;
    
  }
  header{
    flex-direction: row;
  }
  main {
    flex-direction: column;
    min-height: 1000px;
    
  }
  main.content-section {
    width: 100%;

   
  }
div.content-container {
  width: 50%;
  padding: 20px auto;
}
main > section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 40px auto 40px auto;
  
}
  main > section:nth-child(odd) {
    background-color: lightgray;
  }
  /* FOOTER*/ 
  footer {
    position:fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #62374e;
    color: white;
  }
  /* FORM */
  label {
    display: block;
    margin-top: 20px;
  }
  input, textarea, button {
    display: block;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 10px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    margin: 40px auto 40px auto;
  }
  textarea {
    height: 100px;
  }
  main > section:nth-child(2) div.content-container {
    background-color: red;
  }