html, body {
    width: 80%;
    height: 100%;
    text-align: center;
    margin: 20px auto;
    justify-content: center;
}
#grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px 25px;
}

#grid-container > div {
    text-align: center;
    background: lightgreen;
    border: 3px solid green;
    padding: 20px;
}