@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playball&display=swap");
body {
    font-family: "Playball", cursive;
}

/* #languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

#languages {
    display: grid;
    grid-template-columns: repeat(3, 100px);
}
.item {
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: lightcoral;
    border-radius: 6px;
    color: white;
    width: 200px;
    height: 250px;
    margin: 20px 20px;

}
.item:hover {
    border: 5px solid yellow;
    transition: 1s;
    transform: scale(1.2);
}
